In [4]:
import pandas as pd
import yfinance as yf
import myshare_util as msu
import myshare_dividends as msd
from datetime import datetime

msft = yf.Ticker("MSFT")

In [5]:
msft.financials

,6/30/2018,6/30/2017,6/30/2016,6/30/2015
,,,,
Total Revenue,110360000,96571000,91154000,93580000
Cost of Revenue,38353000,33850000,32780000,33038000
Gross Profit,72007000,62721000,58374000,60542000
Operating Expenses,-,-,-,-
Research Development,14726000,12292000,11988000,12046000
Selling General and Administrative,22223000,18807000,19198000,20324000
Non Recurring,NaN,NaN,NaN,NaN
Others,NaN,NaN,NaN,NaN
Total Operating Expenses,75302000,64949000,63966000,65408000
Operating Income or Loss,35058000,31622000,27188000,28172000
Income from Continuing Operations,-,-,-,-
Total Other Income/Expenses Net,1416000,-1721000,-1549000,-9665000
Earnings Before Interest and Taxes,35058000,31622000,27188000,28172000
Interest Expense,-2733000,-2222000,-1243000,-781000
Income Before Tax,36474000,29901000,25639000,18507000
Income Tax Expense,19903000,4412000,5100000,6314000
Minority Interest,NaN,NaN,NaN,NaN
Net Income From Continuing Ops,16571000,25489000,20539000,12193000
Non-recurring Events,-,-,-,-
Discontinued Operations,NaN,NaN,NaN,NaN
Extraordinary Items,NaN,NaN,NaN,NaN
Effect Of Accounting Changes,NaN,NaN,NaN,NaN
Other Items,NaN,NaN,NaN,NaN
Net Income,-,-,-,-
Net Income,-,-,-,-
Preferred Stock And Other Adjustments,NaN,NaN,NaN,NaN
Net Income Applicable To Common Shares,16571000,25489000,20539000,12193000

In [6]:
msft.balance_sheet

,6/30/2018,6/30/2017,6/30/2016,6/30/2015
,,,,
Current Assets,-,-,-,-
Cash And Cash Equivalents,11946000,7663000,6510000,5595000
Short Term Investments,121723000,125238000,106531000,90796000
Net Receivables,26481000,22431000,18277000,17908000
Inventory,2662000,2181000,2251000,2902000
Other Current Assets,6850000,5183000,6091000,5596000
Total Current Assets,169662000,162696000,139660000,122797000
Long Term Investments,1862000,6023000,10438000,12053000
Property Plant and Equipment,36146000,30289000,18356000,14731000
Goodwill,35683000,35122000,17872000,16939000
Intangible Assets,8053000,10106000,3733000,4835000
Accumulated Amortization,NaN,NaN,NaN,NaN
Other Assets,7442000,6076000,3409000,3117000
Deferred Long Term Asset Charges,1369000,248000,219000,228000
Total Assets,258848000,250312000,193468000,174472000
Current Liabilities,-,-,-,-
Accounts Payable,8617000,7390000,6898000,6591000
Short/Current Long Term Debt,5397000,2472000,NaN,2499000
Other Current Liabilities,38195000,30879000,33972000,30384000
Total Current Liabilities,58488000,55745000,59357000,49647000
Long Term Debt,77810000,81445000,40557000,27808000
Other Liabilities,35707000,22986000,20796000,16934000
Deferred Long Term Liability Charges,NaN,NaN,NaN,NaN
Minority Interest,NaN,NaN,NaN,NaN
Negative Goodwill,NaN,NaN,NaN,NaN
Total Liabilities,176130000,162601000,121471000,94389000
Stockholders' Equity,-,-,-,-
Misc. Stocks Options Warrants,NaN,NaN,NaN,NaN
Redeemable Preferred Stock,NaN,NaN,NaN,NaN
Preferred Stock,NaN,NaN,NaN,NaN
Common Stock,71223000,69315000,68178000,68465000
Retained Earnings,13682000,17769000,2282000,9096000
Treasury Stock,-2187000,627000,1537000,2522000
Capital Surplus,NaN,NaN,NaN,NaN
Other Stockholder Equity,-2187000,627000,1537000,2522000
Total Stockholder Equity,82718000,87711000,71997000,80083000
Net Tangible Assets,38982000,42483000,50392000,58309000

In [7]:
msft.cashflow

,6/30/2018,6/30/2017,6/30/2016,6/30/2015
,,,,
Net Income,16571000,25489000,20539000,12193000
"Operating Activities, Cash Flows Provided By or Used In",-,-,-,-
Depreciation,9900000,7800000,5878000,5400000
Adjustments To Net Income,-3108000,1287000,6229000,10483000
Changes In Accounts Receivables,-3862000,-1216000,562000,1456000
Changes In Liabilities,7070000,3901000,2653000,-1054000
Changes In Inventories,-465000,50000,600000,-272000
Changes In Other Operating Activities,-459000,349000,-2907000,1383000
Total Cash Flow From Operating Activities,43884000,39507000,33325000,29668000
"Investing Activities, Cash Flows Provided By or Used In",-,-,-,-
Capital Expenditures,-11632000,-8129000,-8343000,-5944000
Investments,6557000,-12511000,-14417000,-12868000
Other Cash flows from Investing Activities,-98000,-197000,203000,-466000
Total Cash Flows From Investing Activities,-6061000,-46781000,-23950000,-23001000
"Financing Activities, Cash Flows Provided By or Used In",-,-,-,-
Dividends Paid,-12699000,-11845000,-11006000,-9882000
Sale Purchase of Stock,NaN,NaN,NaN,NaN
Net Borrowings,-10201000,31459000,18283000,13661000
Other Cash Flows from Financing Activities,-971000,-190000,-369000,362000
Total Cash Flows From Financing Activities,-33590000,8408000,-8393000,-9668000
Effect Of Exchange Rate Changes,50000,19000,-67000,-73000
Change In Cash and Cash Equivalents,4283000,1153000,915000,-3074000